//* COLOR SETTINGS
$white: hsl(0, 0%, 100%);
$lightGray: hsl(212, 45%, 89%);
$grayishBlue: hsl(220, 15%, 55%);
$darkBlue: hsl(218, 44%, 22%);

//* FONT SETTINGS
$main-font-weight: 700;
$secondary-font-weight: 400;
$font-size-p: 15px;

//* LAYOUT SETTINGS
$mobile-width: 375px;
$desktop-width: 1440px;